<!-- include header -->
<%- include('include/_header') %>

    <section id="false-section">
        <div class="container text-center" id="over">
            <div class="row">
                <div class="col-md-12 d-flex flex-column justify-content-center" id="over-div">
                    <h2 class="display-2">Your answer was not correct!</h2>
                    <h2 class="display-2" id="final-score"></h2>
                </div>
                <div class="col-md-12 d-flex flex-column justify-content-center" id="over-div">

                    <%- include('include/_form') %>
                    
                </div>
                <div class="col-md-12 d-flex flex-column justify-content-center" id="over-div">
                    <a href="/start" class="display-2 my-2 menu-a">Play Again</a>
                    <a href="/highscore" class="display-2 my-2 menu-a">HighScore</a>    
                </div>
            </div>
        </div>
    </section>

    <!-- only for this page script -->
    <script>
        var data = localStorage.getItem('points')
        document.querySelector('#final-score').textContent = 'Score: ' + data
    </script>

    <!-- include footer -->
    <%- include('include/_footer') %>