<!-- include header -->
<%- include('include/_header') %>

    <section id="highscore-section">
        <div class="container text-center" id="highscore">
            <div class="row">
                <div class="col-md-12 d-flex flex-column justify-content-center" id="highscore-menu">
                    <table class="table my-5">
                        <thead>
                            <tr>
                                <th class="display-3">#</th>
                                <th class="display-3">Username</th>
                                <th class="display-3">Score</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="display-6">1</th>
                                <td class="display-6">Markmarkmark</td>
                                <td class="display-6">Otto</td>
                            </tr>
                            <tr>
                                <th class="display-6">2</th>
                                <td class="display-6">And</td>
                                <td class="display-6">Thornton</td>
                            </tr>
                            <tr>
                                <th class="display-6">3</th>
                                <td class="display-6">Jacob</td>
                                <td class="display-6">Thornton</td>
                            </tr>
                            <tr>
                                <th class="display-6">4</th>
                                <td class="display-6">Jacob</td>
                                <td class="display-6">Thornton</td>
                            </tr>
                            <tr>
                                <th class="display-6">5</th>
                                <td class="display-6">Jacob</td>
                                <td class="display-6">Thornton</td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="/" class="display-2 menu-a">Return</a>
                </div>
            </div>
        </div>
    </section>

    <!-- include footer -->
    <%- include('include/_footer') %>