<!-- include header -->
<%- include('include/_header') %>

    <section id="homepage-section">
        <div class="container text-center" id="homepage">
            <div class="row">
                <div class="col-md-12 d-flex flex-column justify-content-center" id="home-menu">
                    <a href="/start" class="display-2 my-2 menu-a">Start Game</a>
                    <a href="/options" class="display-2 my-2 menu-a">Options</a>
                    <a href="/highscore" class="display-2 my-2 menu-a">HighScore</a>
                </div>
            </div>
        </div>
    </section>

    <!-- include footer -->
    <%- include('include/_footer') %>