<!-- include header -->
<%- include('include/_header') %>

    <section id="options-section">
        <div class="container text-center" id="options">
            <div class="row">
                <div class="col-md-12 d-flex flex-column justify-content-center" id="home-menu">
                    <div class="my-5">
                        <h2 class="display-2 my-2 options-menu">Sound: <button>OFF</button></h2>
                        <h2 class="display-2 my-2 options-menu">Theme: <button>DARK</button></h2>
                    </div>
                    <a href="/" class="display-2 my-2 menu-a">Return</a>
                </div>
            </div>
        </div>
    </section>

    <!-- include footer -->
    <%- include('include/_footer') %>