<!-- include header -->
<%- include('include/_header') %>

    <section id="start-section">
        <div class="container text-center" id="start">
            <div class="row">
                <div class="col-md-12 my-4 d-flex justify-content-left" id="points-col">
                    <span class="display-3" id="points">Points: 30</span>
                </div>
                <div class="col-md-12 d-flex flex-column justify-content-center my-5" id="question-div">
                    <h2 class="display-2"><b>Question</b>: amet aut, molestiae iure fuga blanditiis a provident eum quos assumenda! ?</h2>
                </div>
                
                <div class="col-md-6 my-4"><h3 class="display-5 correct answer" id="itsA">A: Lorem, ipsum.</h3></div>
                <div class="col-md-6 my-4"><h3 class="display-5 answer" id="itsB">B: Lorem, ipsum.</h3></div>
                <div class="col-md-6 my-4"><h3 class="display-5 answer" id="itsC">C: Lorem, ipsum.</h3></div>
                <div class="col-md-6 my-4"><h3 class="display-5 answer" id="itsD">D: Lorem, ipsum.</h3></div>
            </div>
        </div>
        <%- include('include/_audio_index') %>
    </section>

    <!-- include footer -->
    <%- include('include/_start_footer') %>