<!-- include header -->
<%- include('include/_header') %>

    <section id="start-section">
        <div class="container text-center" id="start">
            <div class="row">
                <div class="col-md-12 my-4 d-flex justify-content-left" id="points-col">
                    <span class="display-5" id="points"></span>
                </div>
                <div class="col-md-12 d-flex flex-column justify-content-center my-5" id="question-div">
                    <h2 class="display-3" id="question"></h2>
                </div>
                <div class="col-md-12 answer-div"><h3 class="display-6 answer" id="itsA">A: Lorem, ipsum.</h3></div>
                <div class="col-md-12 answer-div"><h3 class="display-6 answer" id="itsB">B: Lorem, ipsum.</h3></div>
                <div class="col-md-12 answer-div"><h3 class="display-6 answer" id="itsC">C: Lorem, ipsum.</h3></div>
                <div class="col-md-12 answer-div"><h3 class="display-6 answer" id="itsD">D: Lorem, ipsum.</h3></div>
            </div>
        </div>
        <%- include('include/_audio_index') %>
    </section>

    <!-- include footer -->
    <%- include('include/_start_footer') %>