<form action="/api/users" method="POST" id="form_users">
    <div class="col-md-12">
        <h2 class="display-3">Username: </h2>
    </div>
    <div class="col-md-12">
        <input id="username-input" type="text" name="name" value="" reqired>
        <input type="text" name="pointss" id="pointss" value="" hidden>
    </div>
    <div class="col-md-12">
        <button class="btn btn-lg px-5 my-3 text-right" id="submit-btn" type="submit">Submit</button>
    </div>
</form>